/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(old/lab2.gif);
    
}

header {
    .header-title{


        color: rgba(255, 38, 0, 0.89);
    }
    background-color: #00e63acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.apparatus-list, .simulation-list {
    display: flex;
    flex-wrap: wrap;
}

.apparatus-item, .simulation-item {
    flex: 1 1 calc(50% - 40px);
    margin: 10px;
    padding: 20px;
    background-color: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.apparatus-item img, .simulation-item iframe {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #00e600bd;
    color: white;
    text-align: center;
    padding: 10px;
}
    