.main{  background-image: url("/lab.gif");
 }
 .box{
background-color: rgba(240, 248, 255, 0.363);

   width: 100px; border: 10px solid rgba(0, 128, 0, 0.658); padding: 40px; margin: 10px;
}
.cs {
padding-left: 25%;
 
}
.content{
    display: flex;
    flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.content a {

    text-decoration: none;
    color-interpolation-filters: auto;
    color: rgb(0, 8, 34);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
 .header h1{

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    
}


.QNA form {

background-image: url("/form.gif");

background-size: contain;

}
div .scroll{
max-width: 10px;
    overflow: scroll;
}